:root{
    --main-bg-color:#2fb2d3;
    --work-project-hover: #24ccf7;
    --main-header-bg-color: #000;
    --main-bg-acent-color:#fff;

    --bot-project-1-image:"../images/kevinrhode.github.io_mod-2-miniproject_ (1).png";


}
*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
/* styling */
body{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    min-width: 355px;
    border:var(--main-header-bg-color) solid 2px;
    border-radius: 8px;
}

header{
    background-color: var(--main-header-bg-color);
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: #000 solid 2px;
    display: flex;
}
/* fullname */
.fullname{
    /* background-color: #429e05; */
    border-bottom-left-radius: 0%;
    width: 25%;
}
/* fullname alignment and styling*/
.fullname h1{
    color: var(--main-bg-acent-color);
    text-align: end;
    padding: 0 5px 0 0;
    background-color: var(--main-bg-color);
    margin: 21px -8px;
    border-radius: 5px;
}
.nav-parent{
    /* background-color: aqua;     */
    width: 75%;
}
.nav-parent ul {
    list-style-type: none;
   
}
/* == class top-nav */
.nav-parent nav{
    display: flex;
    justify-content: end;  
    margin: auto;     
    height: 100%; 
}
.nav-parent nav ul{   
/* text-align: center; */
background-color: var(--main-header-bg-color);
padding: 0;
width: 75%;
justify-content: end;
margin: auto;
display: flex;
    
}
.nav-parent nav ul li {
    /* justify-content: center; */
    /* float: left; */
    width: 40%;
    padding: 5px 5px; 
    
    border-radius: 15px;
    margin: 5px 12px;
    text-align: center;  
    font-weight: bolder;     
    color: var(--main-bg-acent-color);
    background-color: var(--main-bg-acent-color);
    text-shadow: 0 0 3px var(--main-bg-color);
}
main{
    /* border: #e5ff00 solid 5px; */
    width: 100%;
    display: flex;
    height: 50%;
    flex-wrap: wrap;    
}
.banner{
    background-color: #9e0505;
    width: 100%;
    height: 120px;     
    background-image: url(../images/44179666.jpg);
    background-position: 0 -166px;
    position: relative;
}
/* ask about proper bottom righ alignment for responvise/non div soup */
/* i think i got it */
.banner h3{
    color: #fff;
    font-weight: bolder;
    text-decoration: underline;
    position: absolute;
    bottom: 0;
    right: 10px;
    
}
/* about me styling */
.about-me{
    background-color: var(--main-bg-acent-color);
    display: flex;
    width: 100%;
}
.about-me-heading{
    /* background-color: aqua; */
    text-align: end;
    padding-right: 15px;
    width: 25%;
    border-right: #000 solid 2px;
}
.about-me-text{
    width: 75%;    
    background-color: var(--main-bg-color);
}
.about-me-text p {
    margin-left: 5px;
    margin-right: 5px;
    color: #fff;
    font-weight: bolder;
    font-size:14px;
}
/* work styling */
.work{
    background-color: var(--main-bg-acent-color);
    width: 100%;
    /* default 500px */
    height: 550px;
    display: flex;
}
.work-heading{

    width: 25%;
    text-align: end;
    padding-right: 15px;
    border-right: #000 solid 2px;
}
.work-projects{
    /* background-color: #9e0505;     */
    width: 75%;
    /* background-color: #988900; */
}
/* layout for projects */
.top-project-container {
    height: 50%;
    /* background-color: #1cf300; */
    display: flex;
}
/* layout for projects */
.bottom-project-container {
    /* background-color: #00f3f3;     */
    /* width: auto; */
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    /* border: #9e0505 solid 1px; */
}
/* project card */
.top-project-container .project {    
    /* background-color: var(--main-bg-color);   */
    margin: auto;  
    height: 90%;
    width: 90%   ;
    position: relative;
    /* max-width: 80 0px; */
    /* background-image: url("../images/kevinrhode.github.io_mod-2-miniproject.png"); */
    /* opacity: 0.5; */
    background-position: 93px -101px;
}
/* bg image of top project */
.top-project-container .project .project-backgroup{    
    /* background-color: var(--main-bg-color);   */
    margin: auto;  
    height: 100%;
    width: 100%   ;
    position: relative;
    /* max-width: 80 0px; */
    background-image: url("../images/kevinrhode.github.io_mod-2-miniproject_ (1).png");
    opacity: 0.5;
    background-position: -318px -80px;
}
/* formating for the 4 projects below */
.bottom-project-container .project{
    background-color: var(--main-bg-color);
    height: 40%;
    width: 40%;
    margin: auto;
    justify-content: center;
    position: relative;
    
    /* background-image: url("../images/kevinrhode.github.io_mod-1-challenge_\ \(1\).png"); */

    /* max-width: 425px; */
}
/* image for refactor */
.bottom-project-container .project .miniproject1{
    /* background-color: var(--main-bg-color); */
    height: 100%;
    width: 100%;
    background-size: 600px;
    background-image: url("../images/kevinrhode.github.io_mod-1-challenge_\ \(1\).png");
    opacity: 0.5;
    background-position: 0px -705px;
    /* max-width: 425px; */
}
.bottom-project-container .project .miniproject2{
    /* background-color: var(--main-bg-color); */
    height: 100%;
    width: 100%;
    background-size: 600px;
    background-image: url("../images/defaultbackdrop.jpg");
    opacity: 0.5;
    background-position: -300px -705px;
    /* max-width: 425px; */
}
.bottom-project-container .project .miniproject3{
    /* background-color: var(--main-bg-color); */
    height: 100%;
    width: 100%;
    background-size: 600px;
    background-image: url("../images/defaultbackdrop.jpg");
    opacity: 0.5;
    background-position: -300px -705px;
    /* max-width: 425px; */
}
.bottom-project-container .project .miniproject4{
    /* background-color: var(--main-bg-color); */
    height: 100%;
    width: 100%;
    background-size: 600px;
    background-image: url("../images/defaultbackdrop.jpg");
    opacity: 0.5;
    background-position: -300px -705px;
    /* max-width: 425px; */
}
/* label styling for the project */
.bottom-project-container .project p {
    position: absolute;
    bottom: 0;
    right: 20px;
    
}
/* label styling for the project */
.top-project-container .project pre {
    position: absolute;
    bottom: -10px;
    left: -6px;
    background-color: #000;
    color: #ffffff;
    
}

.top-project-container #thumbnail-link {
    /* position: absolute; */
    /* inline block and tansform - safari issue with position, bottom, left */
    display: inline-block;
    transform: translate(-6px,-52px);
    /* z-index: 0; */
    /* bottom: 6px; */
    /* left: -6px; */
    /* -webkit-transform: translateZ(0); */
    /* transform: translate(0px,245px); */
    padding: 4px;
   
    background-color: #000;
    color: #ffffff;
}


/* to change text on porjects thumbnail top */
.top-project-container .project pre .project-subtext{
    color:#fff;
    font-size: 12px;
      
}
/* to change text on porjects thumbnail bottom */
.bottom-project-container .project pre .project-subtext{
    color:#fff;
    font-size: 12px;    
}
/* label styling for the project */
.bottom-project-container .project pre {

    display: inline-block;
    transform: translate(-6px,-60px);
    /* position: absolute; */
    /* bottom: -10px; */
    /* left: -6px; */
    background-color: #000;
    color: #fff;
    
}
/* label styling for the project */
.bottom-project-container .project pre span {
    text-align: start;
}
/* hover effect for the projects */
.project:hover .project-backgroup{
    /* background-color: var(--work-project-hover); */
    opacity: 0.8;
}
.project:hover .miniproject1{
    opacity: 0.8;
}
.project{
    border: #000 3px solid;
}
footer{
    display: flex;
    background-color: var(--main-bg-color);
    width: 100%;
    border-radius: 5px;
    border-top-right-radius: 0%;
    border-top-left-radius: 0%;
}
/* contact me div */
.footer-heading{
    position: relative;
    text-align: end;
    color: var(--main-bg-acent-color);
    width: 25%;
    height: 100%;
    padding-right: 15px;
    /* border-right: #000 solid 2px; */
}
/* contact me styleing for h2 */
.footer-heading h2 {
    /* color: var(--main-bg-acent-color); */
    /* text-align: end; */
    top: -7px;
    left: -6px;
    width: 100%;
    position: absolute;
    padding: 2px 6px 2px 8px;
    background-color: var(--main-bg-color);
    /* margin: 21px -8px; */
    border-radius: 5px;
    border: #000 solid 2px;
}
.footer-nav-parent{
    /* margin-left: 50px; */
    width: 75%;
}
/* background color */
footer ul{
    display: flex;    
    padding: 0;    
    background-color: var(--main-bg-color);
    
}
footer ul li {
    list-style-type: none;
    min-height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--main-header-bg-color) solid 2px;
    /* padding: 10px 10px; */
    border-radius: 25px;
    font-weight: bolder;
    font-size: 18px;
    margin: 2px auto;    
    width: 28%;
    background-color: var(--main-bg-acent-color);
    height: 100%;    
    text-align: center;

}
/* change font size of email at bottom */
#email {
    font-size: 14px;
}

.avatar-Image {
    background-color: #000;
    height: 50px;
    width: 50px;
}


/* small screen header content just-end */
@media (max-width: 454px) {
    /* .fullname h1{
        color: #000;
    } */
   
    /* .nav-parent nav {
        
    } */
    
    .nav-parent nav ul{
        
        /* flex-direction: column; */
        justify-content: end;
        
        width: 80%;

    }
   


}
/* to allow for the square */
@media (max-width: 880px){
    .top-nav ul {
        
        flex-wrap: wrap;
    }
    .top-nav ul li {
        width: 50%;
        margin: auto;
    }
    
}
/* keeps the email address from looking awkward */
/* styling of the bottom area */
@media (max-width:870px) {
    
    .footer-nav-parent address ul {
        display: flex;
        flex-direction: column;
    }
    .contact-me ul li p{
        margin: auto;        
    }
    .contact-me ul li a{
        margin: auto;
    }
    .footer-nav-parent address ul li {
        min-width: 220px;
        width: 80%;
        min-height: 57px;
        border: #000 solid 2px;  
        border-radius: 25px;
        /* margin: auto; */
        display: flex;
        /* flex-wrap: wrap; */
        /* vertical align for contact me info */

        align-items: center;
        justify-content: space-around;
        /* flex-basis: 0; */
    }

}
